{% extends "web/base.html" %}

{% load glmltags %}

{% block title %}Archive{% endblock %}

{% block content %}

<div style="float: left">
    {% if pdfs %}
        <h1>PDF Downloads</h1>
        <ul id="archive">
            {% for url, date in pdfs %}
                <li><a href="{{ url }}" class="pdf">{{ date|date_string }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no PDFs to download.</p>
    {% endif %}
</div>
{% if hof %}
    <div style="margin: 0 auto; width: 500px">
        <h1>Hall of Fame</h1>
        <table class="info" style="width: 100%">
            <caption>Perfect Scores</caption>
            <tr>
                <th>Student</th>
                <th>School</th>
                <th>Count</th>
            </tr>
            {% for student, school, count in hof %}
                <tr>
                    <td>{{ student }}</td>
                    <td>{{ school }}</td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% endblock %}