{% extends "web/base.html" %}

{% block title %}Create Scantron{% endblock %}

{% block content %}

<form method="post" action="{{ url_path }}">
    <table>
        {{ form }}
    </table>
    <br />
    <table class="info">
        {% for row in rows %}
            <tr>
                {% for i, value in row %}
                    <th>{{ i }}</th>
                    <td>
                        <select name="{{ i }}">
                            {% for choice in choices %}
                                <option value="{{ choice }}"{% ifequal choice value %} selected="selected"{% endifequal %}>{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <p><input type="submit" value="Create Scantron" /></p>
</form>

{% endblock %}