{% extends "web/base.html" %}

{% block title %}GLML Scores{% endblock %}

{% block content %}

{% if test_dates %}
    <div id="nav">
        <ul class="home">
            {% if test_date %}
                <li><a href="{% url glml.web.views.home %}">Cumulative</a></li>
            {% else %}
                <li><strong>Cumulative</strong></li>
            {% endif %}
            {% for test_date2 in test_dates %}
                <li>
                    {% ifequal test_date test_date2 %}
                        <strong>{{ test_date.date_string }}</strong>
                    {% else %}
                        <a href="{% url home_by_date test_date2.date.year,test_date2.date.month,test_date2.date.day %}">{{ test_date2.date_string }}</a>
                    {% endifequal %}
                </li>
            {% endfor %}
        </ul>
        <br />
        <ul class="home">
            {% for entry in data %}
                <li><a href="#{{ entry.district.glml_id }}">District {{ entry.district.glml_id }}</a></li>
            {% endfor %}
        </ul>
        <br />
        <ul class="home">
            <li><a href="#top">&uarr; Top</a></li>
        </ul>
        <br />
        {% if test_date and test_date.pdf %}
            <ul class="home">
                <li><a href="{{ test_date.pdf }}" class="pdf">Download PDF</a></li>
            </ul>
        {% endif %}
    </div>
    <div style="margin: 0 auto; width: 500px">
        {% for entry in data %}
            <h1><a name="{{ entry.district.glml_id }}">District {{ entry.district.glml_id }}</a></h1>
            <table class="info" style="width: 100%">
                <caption>Top Schools</caption>
                <tr>
                    <th>School</th>
                    <th>Coach</th>
                    <th>Score</th>
                </tr>
                {% for school in entry.schools %}
                    <tr>
                        <td>{{ school.name }}</td>
                        <td>
                            {% for coach in school.coaches %}
                                {{ coach }}
                                {% if not forloop.last %}
                                    <br />
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ school.score|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% for grade in entry.students %}
                <br />
                <table class="info" style="width: 100%">
                    <caption>Top {{ grade.grade }}th Grade Students</caption>
                    <tr>
                        <th>Place</th>
                        <th>Student</th>
                        <th>School</th>
                        <th>Score</th>
                    </tr>
                    {% for place in grade.place_list %}
                        {% for student in place.students %}
                            <tr>
                                {% if forloop.first %}
                                    <td{% ifnotequal place.length 1 %} rowspan="{{ place.length }}"{% endifnotequal %}>{{ place.place }}</td>
                                {% endif %}
                                <td>{{ student.student_id.student.name }}</td>
                                <td>{{ student.student_id.school_id.school.name }}</td>
                                <td>{{ student.score|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            {% endfor %}
        {% endfor %}
    </div>
{% else %}
    <p>There are no test dates for the selected year.</p>
{% endif %}

{% endblock %}