@(testDate: Option[TestDate], testDates: List[TestDate], dataList: List[DistrictInfo])(implicit req: models.auth.VisitRequest[_])

@main("GLML Scores") {
  <div class="row">

  <!-- Side bar -->
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="100">
        <li class="nav-header">Selected Year:</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">@req.visit.workingYear<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/2012-2013">(years)</a></li>
          </ul>
        </li>
        <li class="divider"></li>    
        <li class="nav-header">Districts</li>
        @for(entry <- dataList) {
        <li><a href="#@entry.district.glmlId"><i class="icon-chevron-right"></i> District @entry.district.glmlId</a></li>
        }
        <li class="divider"></li>
        <li class="nav-header">Test Dates</li>
        <li><a href="/"><i class="icon-chevron-right"></i> Cumulative</a></li>
        @for(tDate <- testDates) {
        <li><a href="/TODO"><i class="icon-chevron-right"></i> @tDate.date</a></li>
        }
        <li class="divider"></li>
        <li><a href="#top"><i class="icon-chevron-right"></i> &uarr; Top</a></li>
      </ul>
    </div>
    
  <!-- Body -->
    <div class="span9">
      
      @for(entry <- dataList) {
        <section id="@entry.district.glmlId">
          <h3>District @entry.district.glmlId</h3>
          
          <table class="table table-striped table-condensed span9">
		    <div style="text-align:center;"><h4>Top Schools</h4></div>
          	<thead>
          	  <th style="width:26%; text-align:left; padding-left:10px">School</th>
          	  <th>Coach</th>
          	  <th style="text-align:right; padding-right:10px">Score</th>
          	</thead>
          	@for(school <- entry.schools) {
		    <tr>
		      <td style="text-align:left; padding-left:10px">@school._1</td>
		      <td>@for(coach <- school._3) {@coach <br />}</td>
		      <td style="text-align:right; padding-right:10px">@school._2</td>
		    </tr>
		    }
		  </table>
		  
		  @for(grade <- entry.students) {
		  <table class="table table-striped table-condensed span9">
		    <div style="text-align:center"><h4>Top @{grade._1}th Grade Students</h4></div>
		    <thead>
		      <th>Place</th>
		      <th>Student</th>
		      <th>School</th>
		      <th>Score</th>
		    </thead>
		    @for(student <- grade._2) {
			<tr>
			  <td>@student._1</td>
			  <td>@student._2.student.name</td>
			  <td>@student._2.schoolId.school.name</td>
			  <td>@student._3</td>
			</tr>
			}
	      </table>
	      }
        </section>
      }
		
    </div>
        
  </div>  
}