@(message: String)(implicit req: models.auth.VisitRequest[_])

@main("GLML Scores") {
  <div class="row">

  <!-- Side bar -->
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li class="nav-header">Districts</li>
        <li><a href="#1"><i class="icon-chevron-right"></i> All</a></li>
        <li><a href="#1"><i class="icon-chevron-right"></i> (districts)</a></li>
        <li class="divider"></li>
        <li class="nav-header">Cumulative</li>
        <li><a href="#date"><i class="icon-chevron-right"></i> (test dates)</a></li>
        <li class="divider"></li>
        <li><a href="#top"><i class="icon-chevron-right"></i> &uarr; Top</a></li>
      </ul>
    </div>
    
  <!-- Body -->
    <div class="span9">
      <p> blah blah </p>
    </div>
        
  </div>  
}