@(title: String, scripts: Html = Html(""))(content: Html)(implicit req: models.auth.VisitRequest[_])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel ="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cyborg-bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        @scripts
        <style type="text/css">
          header {text-align: center; height: 220px}
          body {padding-top: 40px;}
          @@media (max-width: 979px) {body {padding-top: 0px;}}
          .affix {position: fixed;}
          .bs-docs-sidenav.affix {top: 100px; width: 15%;}
          .table {margin: auto;}
          .table th {text-align: center; vertical-align: middle;}
          .table td {text-align: center; vertical-align: middle;}
        </style>
    </head>
    
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
    
    <!-- Nav bar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">GLML</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active">
                  <a href="/">Home</a>
                </li>
                <li class="">
                  <a href="/archive">Archive</a>
                </li>
                <li class="">
                  <a href="/hallOfFame">Hall of Fame</a>
                </li>
              </ul>
              <ul class="nav pull-right">
                @loginInfo()
              </ul>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Big GLML picture -->
      <header id="header" class="wrap clear">
	    <div class="wrap clear">
		  <div id="logo">
		    <a href="/" name="top"><img src="@routes.Assets.at("images/logo.png")" alt="GLML Scores" /></a>
		  </div>
	    </div>
      </header>
      
    <!-- Flash Scope -->
      <div class="container">  
        <div class="content">
		  @messages()(req.flash)
	      @content
	    </div>
	  </div>

    </body>
</html>
