{% extends "web/base.html" %}

{% load glmltags %}

{% block title %}Upload Spreadsheet{% endblock %}

{% block content %}

{% if form.missing_students %}
    <ul>
        {% for missing_student in form.missing_students %}
            <li>{{ missing_student|wtf }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form enctype="multipart/form-data" method="post" action="{{ url_path }}">
    <table>
        {{ form }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Upload" onclick="this.disabled=true; this.value='Uploading...'" /></td>
        </tr>
    </table>
</form>
{% if test_dates %}
    <p>Delete all tests from:</p>
    <ul>
        {% for test_date in test_dates %}
            <li><a href="{% url glml.web.views.delete_tests test_date.id %}">{{ test_date.date_string }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}