<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Server Error</title>
    <link rel="stylesheet" type="text/css" href="/glml/static/style.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/menu/assets/skins/sam/menu.css" />
    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/container/container_core-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/menu/menu-min.js"></script>
    <script type="text/javascript">
        YAHOO.util.Event.onDOMReady(function () {
            var oMenuBar = new YAHOO.widget.MenuBar("menubar");
            oMenuBar.render();
        });
    </script>
</head>
<body>
    <div id="header">
        <a href="/glml/">
            <img src="/glml/static/logo.png" alt="GLML Scores" />
        </a>
    </div>
    <div class="yui-skin-sam" id="yahoo-com">
        <div id="menubar" class="yuimenubar">
            <div class="bd">
                <ul class="first-of-type">
                    <li class="yuimenubaritem first-of-type">
                        <a class="yuimenubaritemlabel" href="/glml/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p>
        The server has experienced an error.
    </p>
</body>
</html>