<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PATH }}/style.css" />
	<!-- Individual YUI CSS files -->
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/menu/assets/skins/sam/menu.css">
	<!-- Individual YUI JS files -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/container/container_core-min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/menu/menu-min.js"></script>
    <script type="text/javascript">
        YAHOO.util.Event.onDOMReady(function () {
            var oMenuBar = new YAHOO.widget.MenuBar("menubar");
            oMenuBar.render();
        });
    </script>
	{% if disable_year_selector_form %}
		<script type="text/javascript">
			function disable_year_selector_form() {
				document.getElementById("id_selected_year").disabled = true;
			}
			window.onload = disable_year_selector_form;
		</script>
	{% endif %}
	{% if school_selector_form and disable_school_selector_form %}
		<script type="text/javascript">
			function disable_school_selector_form() {
				document.getElementById("id_selected_school").disabled = true;
			}
			window.onload = disable_school_selector_form;
		</script>
	{% endif %}
</head>
<body>
    <div id="header">
	    <a href="{% url glml.web.views.home %}">
	    	<img src="{{ STATIC_PATH }}/logo.png" alt="GLML Scores" />
	    </a>
    </div>
	<div class="yui-skin-sam" id="yahoo-com">
		<div id="menubar" class="yuimenubar">
			<div class="bd">
				<ul class="first-of-type">
			        {% for link in links %}
			            <li class="yuimenubaritem first-of-type">
			                <a class="yuimenubaritemlabel" href="{{ link.url }}">{{ link.title }}</a>
			            </li>
			        {% endfor %}
		        </ul>
			</div>
	    </div>
	</div>
	<div style="padding: 10px;">
		<form method="post" action="{{ url_path }}">
			<table>
				{{ year_selector_form }}
			</table>
			<noscript>
				<div><input type="submit" value="Go" /></div>
			</noscript>
		</form>
		{% if school_selector_form %}
			<form method="post" action="{{ url_path }}">
				<table>
					{{ school_selector_form }}
				</table>
				<noscript>
					<div><input type="submit" value="Go" /></div>
				</noscript>
			</form>
		{% endif %}
	</div>
	{% if messages %}
		<ul>
			{% for message in messages %}
				<li>
					{{ message }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
    {% block content %}{% endblock %}
</body>
</html>